.Download >label {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-decoration: underline;
    left: 20px;
    position: relative;
    user-select: none;
}

.singleLine {
    border: 0.8px solid black;
    border-radius: 5px;
}

.Upload >label {
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    text-decoration: underline;
    left: 20px;
    position: relative;
    user-select: none;
}